@font-face {
    font-family: champagne;
    src: url(../fonts/cac_champagne.ttf);
}

.modal-dialog {
      width: 100%;
      height: 100%;
      padding: 0;
      margin:0;
}
.modal-content {
      height: 100%;
      border-radius: 0;
      color:white;
      overflow:auto;
}
 .close
    {
      color:white ! important;
      opacity:1.0;
    }
 #first-child
    {
      top:0;
      left:0;
      background-color: yellowgreen;
    }
    #second-child
    {
      top:0;
      left:50%;
      background-color: #E6537D;
      color:black;
    }
    #third-child
    {
      top:50%;
      left:0;
      background-color: crimson;
    }
    #fourth-child
    {
      top:50%;
      left:50%;
      background-color: lightseagreen;
      color:black;
    }
    .big-box
    {
      position: absolute;
      width: 50%;
      height: 50%;
      color:white;
    }
    .big-box h2
    {
      text-align: center;
      margin-top: 20%;
      padding: 20px;
      width: 100%;
      font-size: 1.8em;
      letter-spacing: 2px;
      font-weight: 700;
      text-transform: uppercase;
    cursor:pointer;
    }

    @media screen and (max-width: 46.5em)
    {
      .big-box h2
      {
        font-size:16px;
        padding-left:0px;

      }
    }

    @media screen and (max-width: 20.5em)
    {
      .big-box h2
      {
        font-size:12px;
        padding-left:0px;
        margin-top:30%;
        }
    }
    .modal-dialog {
      width: 100%;
      height: 100%;
      padding: 0;
      margin:0;
    }
    .modal-content {

      height: 100%;
      border-radius: 0;
      color:white;
      overflow:auto;
    }
    .modal-title
    {
      font-size: 3em;
      font-weight: 300;
      margin: 0 0 20px 0;
    }
    .modal-content-one
    {
      background-color:yellowgreen;
    }
    .modal-content-two
    {
      background-color:#E6537D;
    }
    .modal-content-three
    {
      background-color:crimson;
    }
    .modal-content-four
    {
      background-color:lightseagreen;
    }

.port {
  color: #0583E0 !important;
  font-family: 'champagne';
  font-size: 50px;
}

.color-back {
  background: #0583e0;
  /* padding-top: 5%; */
  padding-bottom: 3%;
  color: white;
  opacity: .7;
}

#quote {
  color: white !important;
}

.quote-here {
  font-family: 'champagne';
  font-size: 50px;
  margin-top: 11%;
}

.company-name {
  font-size: 3rem;
}

.languages {
    margin-top: 3%;
    margin-bottom: 5%;
}

.logo {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}
